@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
}
.container{
    width: 95vw;
    max-width: 1200px;
    margin: 0 auto;
}

a,p{
    font-size: 16px;
}

.ctaButton{
    @apply text-white;
    @apply py-8;
    @apply px-16;
    border-radius: 1.5rem;
    @apply font-semibold;
    transition: 300ms;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(114, 81, 235), rgb(212, 61, 150)) repeat scroll 0% 0%;
    &:hover{
        box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
        transform: scale(1.05,1.05);
    }
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  #nav {
    padding: 30px;
  
    a {
      font-weight: bold;
      color: #2c3e50;
  
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }