
.caseImg{
  height: 300px;
}

.cases{
  max-width: 1500px;
}

.caseContentContainer{
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply flex-wrap;
  @apply p-32;
  @apply mb-32;
}

.caseContainer:nth-child(even){
  flex-direction: row-reverse;
}
.bigGreyTitle{
  @apply uppercase;
  @apply absolute;
  @apply text-offwhite-600;
  @apply left-0;
  @apply right-0;
  @apply font-bold;
  top: -30px;
  z-index: -1;
  @apply text-6xl;
  @apply block;
}

.caseHeader{
  @apply uppercase;
  @apply text-main;
  @apply mb-32;
  @apply text-2xl;
}

@screen sm{
  .caseImg{
    height: 400px;
  }
  .caseContentContainer{
    @apply mb-0;
  }
}
@screen md{
  .caseHeader{
    @apply text-3xl;
  }
}
@screen lg {
    .bigGreyTitle{
      @apply text-7xl;
      top: -30px;
    }
  }