.wrapper{
  margin: 40px 0;
}

img{
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.textContent{
  max-width: 700px;
}


@screen sm{

}
@screen md{

}
@screen lg {
  img{
    height: calc(100% + 80px);
    position: absolute;
    top: -40px;
    left: 10vw;
    width: unset;
    max-width: 350px;
  }
}