.wrapper{
  margin: 40px 0;
}

.onlineimg{
  @apply relative;
  top: -2em;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5em;
  height: 100%;
}
.textContent{
  max-width: 700px;
}


@screen sm{
  .onlineimg{
    top: 0;
    border-radius: 0;
  }
}
@screen md{

}
@screen lg {
  div .onlineimg{
    height: calc(100% + 80px);
    position: absolute;
    top: -40px;
    width: unset;
    max-width: 350px;
    border-radius: 1.5em;
  }
  .container{
    width: 95vw !important;
  }
}