
.caseImg{
  height: 400px;
}

.caseContentContainer{
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply flex-wrap;
  @apply p-32;
}
.bigGreyTitle{
  @apply uppercase;
  @apply absolute;
  @apply text-7xl;
  @apply text-offwhite-600;
  @apply left-0;
  @apply right-0;
  @apply font-bold;
  top: -30px;
  z-index: -1;
}

.caseHeader{
  @apply uppercase;
  @apply text-main;
  @apply mb-32;
}

@screen sm{
      
}
@screen md{

}
@screen lg {
  
  }