.bannerContainer{
  height: 250px;
  // filter: grayscale(100%);
}

.bannerTitle{
  @apply uppercase;
  @apply text-white;
  @apply text-4xl;
}
.overlay{
  background-color: rgba(0,0,0,0.5);
}

.bannerText{
  position: relative;
  @apply z-30;
  div{
    @apply p-32;
  }
}

.bannerImg{
  @apply relative;
  @apply hidden;
  img{
    @apply z-50;
    @apply absolute;
    @apply w-4/5;
    bottom: 75px;
  }
}

@screen sm{
  .bannerContainer{
    height: 350px;
  }
  .bannerContent{
    top: -5em;
    position: relative;
  }
}
@screen md{
  .bannerImg{
  @apply block;
}

}
@screen lg {
  .bannerContainer{
    height: 50vh;
  }
@screen xl {
  .bannerImg{
    img{
      @apply w-full;
      bottom: 75px;
      left: 75px;
      padding-right: 15px;
    }
  }
}
}