.bannerContainer{
  height: 250px;
  // filter: grayscale(100%);
}

.bannerTitle{
  @apply uppercase;
  @apply text-white;
  @apply text-4xl;
}
.overlay{
  background-color: rgba(0,0,0,0.5);
}
.bannerContent{
  top: -5em;
  position: relative;
}

.bannerText{
  position: relative;
  @apply z-30;
  div{
    @apply p-32;
  }
}

.bannerImg{
  @apply relative;
  img{
    @apply z-50;
    @apply absolute;
    top: -15em;
    left: 7em;
  }
}

@screen sm{
  .bannerContainer{
    height: 350px;
  }
}
@screen md{

}
@screen lg {
  .bannerContainer{
    height: 50vh;
  }
}