.package{
  box-shadow: 0 0 8px 0px #eee;
  border-radius: 5px;
}

.packageBanner{
  height: 200px;
  z-index: -1;
}

.overlay{
  background-color: rgba(114,81,235,0.5);
}

.label{
  background-color: #3DB0D4;
  top: -20px;
  display: inline-block;
}

.answer{
  display: none;
}
.active .answer{
  display: block;
}

.active .chevron{
  transform: rotate(90deg);
}

.active .pointTitle{
  @apply text-main;
}