

 

    body{
        padding-top: 60px;
    }
    nav {
        .navToggle:focus, .navToggle:focus-visible, a{
            outline: none;
            box-shadow: none;
        }
        .pageOverlay{
            background-color: rgba(0,0,0,0.5);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @apply z-30;
        }
    .desktop{
        @apply justify-between;
        @apply px-32;
        @apply hidden;
        @apply fixed;
        @apply w-full;
        @apply z-50;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #f3f3f3;
        top: 0;
        box-shadow: 0 3px 3px -3px rgba(0,0,0,.2);

        .links{
            @apply self-center;
            ul{
                @apply flex;
            }
            li{
                @apply mx-8;
            }
            a{
                @apply uppercase;
            }
            a:hover, a:focus, .router-link-exact-active{
                @apply text-main;
            }
        }
        .logo svg{
            height: 50px;
        }
    }
    .mobile{
        @apply flex;
        @apply px-16;
        @apply justify-between;
        @apply fixed;
        @apply z-60;
        @apply w-full;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 60px;
        top: 0;
        background-color: #f3f3f3;
        box-shadow: 0 3px 3px -3px rgba(0,0,0,.2);
      
        .logo svg, .logo{
            height: 50px;
        }
    }

    .hamburgerLinks{
        @apply self-center;
        @apply w-1/2;
        @apply fixed;
        @apply h-full;
        @apply z-50;
        padding-top: 5px;
        padding-bottom: 5px;
        right: 0;
        background-color: #f3f3f3;


        ul{
            @apply text-left;
        }
        li{
            @apply ml-16;
            @apply my-16;
        }
        a{
            @apply uppercase;
        }
        .router-link-exact-active, .router-link-exact-active .v-icon{
            @apply text-main;
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
      }
      .st0{fill:#7251EB;stroke:#3DB0D4;stroke-width:4;}
      .st1{fill:none;stroke:#7251EB;stroke-width:4;}
      .st2{fill:#F3F3F3;stroke:#F3F3F3;stroke-width:4;}
      .st3{fill:#FFFFFF;stroke:#7251EB;stroke-width:4;}
      .st4{display:none;fill:#3DB0D4;}
      .st5{font-family:'RobotoCondensed-Bold';}
      .st6{font-size:50px;}
      .st7{display:none;fill:#7251EB;}
      .st8{fill:#7251EB;}
    }


@screen sm{
    nav .desktop{
        @apply flex;
    }
    nav .mobile, nav .hamburgerLinks, .pageOverlay{
        @apply hidden;
    }
}
@screen md{

}
@screen lg {

  }