
.design{
  transition: 300ms;
  &:hover{
    transform: scale(1.2,1.2);
  }
}

.mobile{
  bottom: 0;
  left: 50px;
  transition: 300ms;
  &:hover{
    transform: scale(1.2,1.2);
  }
}



@screen sm{
  .mobile{
    left: 30px;
  }
}
@screen md{
  .mobile{
    left: 20px;
  }
}
@screen lg {

}